.UserInfo {
    border: 1px solid black;
    width: 30%;
    background: white;
    position: absolute;
    resize: initial;
    overflow: auto;
    height: 82%;
}

.PictureUser {
    width: 100%;
}

.Name {
    margin-top: 3%;
    text-align:center;
}

.addressName {
    text-align:center;
    color: grey;
    justify-content: center;
}

.Description {
    text-align:center;
}