.UserInfo {
    border: 1px solid black;
    width: 30%;
    background: white;
    position: fixed;
    height: 100%;
    resize:both;
    overflow: auto;
}

.Picture {
    height: 200px;
    width: 200px;
    margin-left: 25%;
    margin-top: 5%;
}