.Incentive {
    border: 1px solid black;
    width: 70%;
    background: white;
    position: fixed;
    float: right;
    height: 9%;
    margin-left: 30%;
    border: 1px solid black;
    resize:both;


}

.NormalText{
    margin-left: 5%;
    margin-top: 1%;
    position: absolute;
}

.BronzeText{
    margin-left: 5%;
    margin-top: 1%;
    position: absolute;
    color : rgba(139, 99, 8, 0.99);
}

.SilverText{
    margin-left: 5%;
    margin-top: 1%;
    position: absolute;
    color : rgba(116, 119, 134, 0.99);
}

.GoldenText{
    margin-left: 5%;
    margin-top: 1%;
    position: absolute;
    color: rgba(203, 160, 8, 0.99);
}

.NormalTextMiddle {
    margin-left: 30%;
    margin-top: 1%;
    position: absolute;
}

.BronzeTextMiddle{
    margin-left: 30%;
    margin-top: 1%;
    position: absolute;
    color : rgba(139, 99, 8, 0.99);

}

.SilverTextMiddle{
    margin-left: 30%;
    margin-top: 1%;
    position: absolute;
    color : rgba(116, 119, 134, 0.99);

}

.GoldenTextMiddle{
    margin-left: 30%;
    margin-top: 1%;
    position: absolute;
    color: rgba(203, 160, 8, 0.99);

}

.BronzeTextRight{
    margin-left: 70%;
    margin-top: 1%;
    position: absolute;
    color : rgba(139, 99, 8, 0.99);

}

.SilverTextRight{
    margin-left: 70%;
    margin-top: 1%;
    position: absolute;
    color : rgba(116, 119, 134, 0.99);

}

.GoldenTextRight {
    margin-left: 70%;
    margin-top: 1%;
    position: absolute;
    color: rgba(203, 160, 8, 0.99);

}

.NormalTextRight {
    margin-left: 70%;
    margin-top: 1%;
    position: absolute;
}

.medalMiddle {
    width: 4%;
    margin-left: 25%;
    position: absolute;
}

.medalHidden {
    width: 4%;
    margin-left: 25%;
    position: absolute;
    visibility: hidden;
}

.medalRight {
    width: 4%;
    margin-left: 65%;
    position: absolute;
}

.medal {
    width: 4%;
    position: absolute;
}

