.incentive {
    padding-top: 5px;
    font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
    font-weight:500;
    font-size: 18px;
}

.incentiveLeft{
    display:flex;
    flex-direction:row;
    justify-content:center;
    align-items:center;
}

.incentiveMiddle{
    display:flex;
    flex-direction:row;
    justify-content:center;
    align-items:center;
}

.incentiveRight{
    display:flex;
    flex-direction:row;
    justify-content:center;
    align-items:center;
}

.NormalText{
}

.BronzeText{
    color : rgba(139, 99, 8, 0.99);
}

.SilverText{
    color : rgba(116, 119, 134, 0.99);
}

.GoldenText{
    color: rgba(203, 160, 8, 0.99);
}

.NormalTextMiddle {
}

.BronzeTextMiddle{
    color : rgba(139, 99, 8, 0.99);

}

.SilverTextMiddle{
    color : rgba(116, 119, 134, 0.99);

}

.GoldenTextMiddle{
    color: rgba(203, 160, 8, 0.99);

}

.BronzeTextRight{
    color : rgba(139, 99, 8, 0.99);

}

.SilverTextRight{
    color : rgba(116, 119, 134, 0.99);
}

.GoldenTextRight {
    color: rgba(203, 160, 8, 0.99);

}

.NormalTextRight {
}

#medalMiddle {
    height:50px;
}

#medalLeft {
    height:50px;
}

#medalMiddle{
    height:50px;
}

.medalHidden {
    visibility: hidden;
}

.medalRight {
}

.medal {
}

