.Div {
    border-radius: 10px 10px 10px 10px;
    height: 65%;
    width: 50%;
    border: 1px solid black;
    background: white;
    position: fixed;
    top: 55%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    resize:none;
    overflow: auto;
}

.Header {
    margin-top: 3%;
    font: 140% arial;
    margin-left: 3%;

}

.Line {
    color: white;
    position: relative;
}

.PasswordForm {
    margin-left: 3%;
}