#root {
    /*overflow-y:scroll;*/
}

.goodsListDiv {
    height: 100%;
}

.goodsList {
    /*
    overflow-y:scroll;*/
    height: 100%;
    width: 100%;
    margin-bottom: 70px;
}

.stickyAddGood {
    position: fixed;
    z-index: 100;
    bottom: 0;
    background-color: rgba(0, 0, 0, .95);
    /*padding:10px;*/
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    transition-duration: .5s;
    color: white;
}

.stickyAddGoodButton {
    padding: 10px;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .0);
    border: 0px;
    transition-duration: .5s;
    color: white;
}

.stickyAddGood:hover, .stickyAddGoodButton:hover {
    background-color: rgba(255, 255, 255, .95);
    color: black;
}

.addGoodText {
    font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
    font-size: 30px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 20px;
    padding: 10px;
    margin-bottom: 20px;
}

.plus-circle {
    color: #cc0000;
    font-size: 30px;
}

