* {
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
}

.couponImg {
    height: 100px;
}

.productCol {
}

.product {
    padding: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 100%;
    align-items: center;
    background-color: white;
    border: 1px solid darkgrey;
    border-bottom-right-radius: 7px;
    border-top-right-radius: 7px;
}

.productFeatures {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.productTitle {
    font-family: "Montserrat", sans-serif;
    font-size: 25px;
    font-weight: 900;
    margin-bottom: 2px;
    text-align: center;
    justify-content: center;
}

.productDetails {
    text-align: left;
    font-size: 14px;
    width: 100%;
}

.productDetailsRow {
    width: 100%;
}

.productDetailsCol1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.innerColDiv {
    width: 55%;
}

.innerColDiv div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.productDetailsCol2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.productDetails b {
    font-weight: 600;
}

.productButtons {
    height: 120px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}