.loginContainer {
    font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
    font-size:15px;
}

.logo {
    width: 100%;
    max-width: 300px;
}

.logoContainer {
    margin: 5px;
}

.btn {
    width: 100%;
    letter-spacing: 2px;
    background-color: #ff9810;
    color: white;
    height: 40px;
}

.btn:hover {
    background-color: #965c10;
}

.colForm {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
}

.loginRow {
    justify-content:center;
}

.solicitudLinkDiv {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 10px;
}

.link {
    color: white;
    letter-spacing: 1px;
    font-size: 18px;
}

.link:hover {
    text-decoration: underline;
    color: white;
}

.textHeading {
    font-size: 18px;
    font-weight:500;
    color: #212529;
}