.logo {
    width: 100%;
    max-width: 400px;
}

.logoContainer {
    margin: 10px;
}

.btn {
    width: 100%;
    letter-spacing: 2px;
    background-color: #ff9810;
    color: white;
    height: 40px;
}

.btn:hover {
    background-color: #965c10;
}

.colForm {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
}

.loginRow {
    height: 100%;
}

.loginContainer {
    height: 100%;
}

.solicitudLinkDiv {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 15px;
}

.link {
    color: white;
    letter-spacing: 1px;
    font-size: 20px;
}

.link:hover {
    text-decoration: underline;
    color: white;
}

.textHeading {
    font-size: 24px;
    color: #212529;
}