body, html, #root {
    height: 100%;
}

.logo {
    width: 100%;
}

.logoContainer {
    margin: 10px;
}

.btn {
    width: 100%;
    letter-spacing: 2px;
    background-color: #ff9810;
    color: white;
    height: 40px;
}

.btn:hover {
    background-color: #965c10;
}

.colForm {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-around;
}

.loginRow {
    height: 100%;
}

.loginContainer {
    height: 100%;
}

.req {
    background: none;
    color: white;
    border: none;
    padding: 0;
    font: inherit;
    border-bottom: 1px solid white;
    cursor: pointer;
}